
tbody tr:nth-child(odd) {
    background-color: #024156;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.heading {
    background-image: url('image.png');
    text-align: center; 
}


